<h1>Welcome</h1>
<p> <a>Kanoz Tech</a> is a corporate IT partner who delivers you prompt,
reliable and professional service; and most of all,
less I.T.-induced headaches. From general corporate IT 
consulting to IT cloud computing, dedicated hosting & 
hosted servers through to network and domain administration, 
email, disaster recovery, and more, take care of all your 
corporate IT solutions so you don’t have to.</p>
